# don't commit all the data, files are too big
/data/*

# keep the mappings
!/data/netflix_to_imdb.json
!/data/top_netflix_users.json


# keep the computed features because they're small enough
!/data/processed/
/data/processed/*
!/data/processed/*_20.pickle
/data/processed/user_profiles_20.pickle

/venv